<% provide(:title, "About") %>
<h1 class="center"> About </h1>

<div class="row">
<p>Greetings... </p>
	<p class="justify">
	Thank GOD to begin, continue and finish this project. I thank you my best friend, with out you, it could have not done. I extends my thanks to all my friends who helped cseclaws directly and indirectly.  
	Cseclaws is a  Rails applications to share our reminiscence of four years at DMI college of Engineering. It is designed as a  closed group application. Once you log in, post what ever you remember about our wonderful college life. Feel free to navigate all users profiles by clicking the 'claws' link. Non members can have glimpse of  the index page by clicking glimpse link.
	Signin and signout are done with the help of Sessions and cookies. Passwords are protected with SHA1 algorithm and ruby encryption hence you can relay on it. 
	</p>
	<p class="left">
	With love and cares 
	</p>
	<p class="left">
	Franklin
	</p>
</div>