<% provide(title: "Agreements") %>
<h1 class="center"> User Agreements </h1>
<div class="row">
<p class="justify">Hello everyone,</p> 
	<p class="justify">
	Cseclaws is exclusively made to steadfast our friendship and not to slack. Before posting  anything, make sure that you are hurting nobody. There is a admin user with create and remove  user privileges.  Other users restricted to create and remove accounts.
	</p>
	<p class="justify">
	Although I know there are whole lot of things to improve, your suggestions will improve me. Send your feedbacks, reviews to franklin2412@gmail.com. I apologies for using your name and image with out your knowledge. I wish to add some better images but memory is limited. Since it is an opensource, it can be removed or modified with out notification. So do not relay on it and don't share anything personal. Users are not allowed to upload or edit profile images but admin.
	</p>
	<p class="justify">
	I highly recommend you to update your password as soon as you log in, since your given passwords are predictable.  Any help or queries about cseclaws,  shoot a mail to franklin2412@gmail.com. 
	</p> 
</div>