<footer class="footer">
	<small> 
		<strong>A friend loveth at all times, and a brother is born for adversity.</strong> 
		Proverbs 17:17
	</small>
	<nav>
		<ul>
			<li><%= link_to "Agree", agree_path %></li>
			<li><%= link_to "About", about_path %></li>
		</li>
	</nav>
</footer>